name: CI/CD workflow for Maven Build and SonarCloud Scan

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Build and SonarCloud Analysis
        working-directory: ./demo
        run: mvn clean verify sonar:sonar \
            -Dsonar.projectKey=aritz94318_x \
            -Dsonar.organization=aritz94318 \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
